*
{box-sizing: border-box;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size:larger;
}

body{
    background: linear-gradient(to right, purple, rgb(188, 92, 108));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 300px;
    height: 300px;
    border: 5px solid white;
    border-radius: 10rem ;
    background-color: rgba(255, 252, 252, 0.5);
    position: relative;
}

.clock .number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(110, 27, 27);
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .number1 {--rotation: 30deg;}
.clock .number2 {--rotation: 60deg;}
.clock .number3 {--rotation: 90deg;}
.clock .number4 {--rotation: 120deg;}
.clock .number5 {--rotation: 150deg;}
.clock .number6 {--rotation: 180deg;}
.clock .number7 {--rotation: 210deg;}
.clock .number8 {--rotation: 240deg;}
.clock .number9 {--rotation: 270deg;}
.clock .number10 {--rotation: 300deg;}
.clock .number11 {--rotation: 330deg;}
.clock .number12 {--rotation: 360deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    background-color: rgb(110, 27, 27);
    bottom: 50%;
    left: 50%;
    width: 8px;
    height: 50%;
    transform: translate(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin: bottom;
    border-top-left-radius: 10rem ;
    border-top-right-radius: 10rem ;
    z-index: 10;
}

.clock::after{
    content: '';
    position: absolute;
    background-color: rgb(110, 27, 27);
    border: 3px solid whitesmoke;
    border-radius: 50%;
    z-index: 11;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock .hand.second{
    width: 2px;
    height: 45%;
    background-color: palevioletred;
    border: 1px solid palevioletred;

}

.clock .hand.minute{
    width: 7px;
    height: 40%;
    background-color: purple;
    border: 1px solid rgba(245, 245, 245, 0.85);
}

.clock .hand.hour{
    width: 11px;
    height: 30%;
    background-color: rgb(110, 27, 27);
    border: 1px solid rgba(245, 245, 245, 0.75);
}
